/***************** COLORS *****************/

/* change top bluebar color to dark */
html#facebook  :not(._4pmj)._2t-a {
  background-color: #303040;
}

/************** IMPROVEMENTS **************/

/* fixed top bluebar on top - scroll protected */
html#facebook #pagelet_bluebar {
  position: fixed;
  z-index: 3333;
  width: 100%;
}
html#facebook #globalContainer {
  padding-top: 45px;
}

/**************** BLOCKERS ****************/

/* hidden ads panel */
html#facebook #rightCol div {
  display: none;
}

/* own image in place of ads */
html#facebook #contentCol #rightCol {
  background-image: url(http://loremflickr.com/420/1240/nature);
  background-position: 0 -15px;
  height: 1210px;
  opacity: 0.4;
  z-index: 0;
}

/* hide cookies info banner */
html#facebook  .pam.fbPageBanner._3d9x.uiBoxGray.bottomborder {
  display: none;
}

/* hide games panel */
html#facebook div#pagelet_canvas_nav_content {
  display: none;
}

/*************** REFINEMENTS **************/

/* adjust post author icons */
html#facebook img._s0._5xib._5sq7._44ma._rw.img {
  border-radius: 3px;
}

/* suppress left panel when not needed */
html#facebook div#leftCol {
  opacity: 0.4;
}
html#facebook div#leftCol:hover {
  opacity: 1;
}

/* suppress chat panel when not needed */
html#facebook div._51x_ {
  opacity: 0.4;
}
html#facebook div._51x_:hover {
  opacity: 1;
}
