/***************** COLORS *****************/


/* change login bluebar color to lime and set random image */
html#facebook div._53jh {
  background-color: #004D40 !important;
  background-image: url(https://picsum.photos/1024/768) !important;
  background-repeat: no-repeat;
  background-size: cover;
}
/* add fancy border to logn form */
html#facebook div._53jh div.loggedout_menubar {
  padding: 25px 25px 8px;
  box-shadow: 0 0 100px #000D00 inset, 0 0 11px black;
}

/* change top bluebar color to dark */
html#facebook  :not(._4pmj)._2t-a {
  background-color: #303040 !important;
  background-image: none !important;
}

/* chat login button background */
html#facebook label.uiButton.uiButtonConfirm#loginbutton {
  background-color: #303040 !important;
  border: none !important;
}

/************** IMPROVEMENTS **************/

/* intro page hide bullshit */
html#facebook div.loggedout_menubar_container {
  height: 100vh !important;
  padding-top: 45vh;
}

html#facebook td.html7magic, html#facebook td.login_form_label_field {
  display: none;
}

html#facebook i.fb_logo.img {
  margin-top: -5px !important;
}
/**************** BLOCKERS ****************/

/* hidden ads panel */
html#facebook div#pagelet_ego_pane, html#facebook div._5rzs._5v6d._2zam, html#facebook div._26z1 {
  display: none;
}

/* hide cookies info banner */
html#facebook  .pam.fbPageBanner._3d9x.uiBoxGray.bottomborder {
  display: none;
}

/* hide games panel */
html#facebook div#pagelet_canvas_nav_content {
  display: none;
}